.main-servicos .conteiner1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
}
.main-servicos .conteiner1 img{
    border-radius: 8px;
    width: 100%;
}